.i1 {
  width: 300px !important;
}
.sss {
  display: flex;
}
/* .contact-list {
  max-width: 400px;
  margin: 0 auto;
}

.add-contact {
  display: flex;
  margin-bottom: 10px;
}

.add-contact input {
  flex-grow: 1;
  margin-right: 10px;
} */
